services:
  turnstile.type:
    class: VuillaumeAgency\TurnstileBundle\Type\TurnstileType
    tags: ['form.type']
    arguments:
      $key: '%vuillaume_agency_turnstile.key%'
      $enable: '%vuillaume_agency_turnstile.enable%'
  turnstile.validator:
    class: VuillaumeAgency\TurnstileBundle\Validator\CloudflareTurnstileValidator
    tags: ['validator.constraint_validator']
    arguments:
      $enable: '%vuillaume_agency_turnstile.enable%'
      $turnstileHttpClient: '@VuillaumeAgency\TurnstileBundle\Http\TurnstileHttpClientInterface'
    autowire: true
  turnstile.http_client:
    class: VuillaumeAgency\TurnstileBundle\Http\CloudflareTurnstileHttpClient
    arguments:
      $secret: '%vuillaume_agency_turnstile.secret%'
    autowire: true

  VuillaumeAgency\TurnstileBundle\Http\TurnstileHttpClientInterface:
    alias: turnstile.http_client
